{% extends "GyAdminBundle::base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="intlbd">
            <h2>商品管理</h2>
            <p class="marginbottom10px"><a class="btn btn-default" href="{{ path('gy_admin_product_index') }}" role="button">查看所有商品 »</a></p>
            <p><a class="btn btn-default" href="{{ path('gy_admin_product_create') }}" role="button">添加商品 »</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="intlbd">
            <h2>图片管理</h2>
            <p class="marginbottom10px"><a class="btn btn-default" href="#" role="button">查看所有图片 »</a></p>
            <p><a class="btn btn-default" href="#" role="button">上传图片 »</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="intlbd">
            <h2>分类管理</h2>
            <p class="marginbottom10px"><a class="btn btn-default" href="#" role="button">查看所有分类 »</a></p>
            <p><a class="btn btn-default" href="#" role="button">添加分类 »</a></p>
        </div>
    </div>
</div>
{% endblock %}